<h1>Request</h1>
<form action="auth" method="get">
  <div class="mb-3">
    <label class="form-label">state</label>
    <input class="form-control" name="state" value="<%= state %>" />
  </div>
  <div class="mb-3">
    <label class="form-label">redirect_uri</label>
    <input class="form-control" name="redirect_uri" value="<%= redirect_uri %>" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 
